# Django
SECRET_KEY=django-insecure-замени-на-свой-секретный-ключ
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (local MySQL via OpenServer)
DB_NAME=father_barill_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.1.28
DB_PORT=3306

# Email (master)
MASTER_EMAIL=твой_email@example.com

# LiqPay (sandbox by default)
LIQPAY_PUBLIC_KEY=sandbox_iXXXXXXXXXX
LIQPAY_PRIVATE_KEY=sandbox_XXXXXXXXXXXXXX
LIQPAY_SANDBOX=True

# Nova Poshta API
NOVAPOSHTA_API_KEY=твой_ключ_nova_poshta