Django==6.0.6
psycopg2-binary==2.9.10
mysqlclient==2.2.8
Pillow==12.2.0
python-decouple==3.8
requests==2.32.3
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0